@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.btn-banner {
		@apply mt-8 p-8 rounded-3xl border-silver border-2 text-center;
	}
	.btn-primary {
		@apply mt-6 px-8 p-3 h-14 rounded-full text-white text-lg border-black shadow-md;
	}
	.btn-disabled {
		@apply mt-6 px-8 p-3 h-14 rounded-full text-gray-400 text-lg bg-gray-50 border-black shadow-md;
	}
}

body {
	color: white;
	min-height: 100vh;
	background: linear-gradient(to bottom, #4f2959, #a1004b);
	box-sizing: border-box;
	height: 100%;
	padding: 0;
	margin: 0;
}
