@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;

:root {
  --primary: transparent;
  --secondary: cornflowerblue;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

/*  */
@layer components {
  /* layout */

  /* typography */
  /* headers */
  /* data */

  /* layout */
}

@layer base {
  body {
    @apply bg-bgGradient min-h-[100vh] text-white;
  }

  .transparent-text {
    background: rgb(255, 255, 255, 0);
  }

  #bgmask {
    mask-image: url('$lib/icons/mask.svg');
    mask-position: top left;
    mask-size: 100% 100%;
    mask-origin: margin-box;
    mask-repeat: no-repeat;
    z-index: -1;
  }

  button {
    @apply select-none;
  }

  input,
  [type='text'],
  [type='number'],
  select {
    @apply disabled:text-disabled h-[30px] w-full overflow-ellipsis rounded-md border-none py-0 pl-2 text-sm text-white outline-none focus:ring-0 disabled:opacity-85;
  }

  input:focus,
  [type='text']:focus {
    @apply outline-none;
  }

  select {
    @apply cursor-pointer pr-7;
  }

  ::placeholder {
    @apply text-disabled !important;
  }
}
