@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn-banner {
    @apply border-silver mt-8 rounded-3xl border-2 p-8 text-center;
  }
  .btn-primary {
    @apply mt-6 h-14 rounded-full border-black p-3 px-8 text-lg text-white shadow-md;
  }
  .btn-disabled {
    @apply mt-6 h-14 rounded-full border-black bg-gray-50 p-3 px-8 text-lg text-gray-400 shadow-md;
  }
}

body {
  color: white;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4f2959, #a1004b);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
