# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy v1 to GitHub Pages

on:
  push:
    branches: ['v1']

permissions:
  contents: write

jobs:
  build_site:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Build v1
        env:
          BASE_PATH_UI: /siwf/v1/ui
          BASE_PATH_EXAMPLE: /siwf/v1/example
        run: pnpm run build

      - name: Structure v1
        run: |
          mkdir siwf
          touch siwf/.nojekyll
          mkdir siwf/v1
          mkdir siwf/v1/example
          mkdir siwf/v1/ui
          mv ./packages/ui/build/* ./siwf/v1/ui
          mv ./packages/example/build/* ./siwf/v1/example

      - name: Build Root
        env:
          BASE_PATH_UI: /siwf/ui
          BASE_PATH_EXAMPLE: /siwf/example
        run: pnpm run build

      - name: Structure Root
        run: |
          mkdir siwf/example
          mkdir siwf/ui
          cp index.html ./siwf/
          mv ./packages/ui/build/* ./siwf/ui
          mv ./packages/example/build/* ./siwf/example

      # For now, we want to keep deploying v1 to the root
      - name: Deploy to GitHub Pages Root
        uses: JamesIves/github-pages-deploy-action@v4.6.4
        with:
          branch: gh-pages
          folder: siwf
          target-folder: /
          clean: true
          # Don't overwrite v2
          clean-exclude: |
            v2
