# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy NPM Hash

on:
  push:
    branches: ["main", "chore/v2"]

jobs:
  publish-npm-rc:
    name: Publish NPM Hash
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node and npm
        uses: ./.github/workflows/common/setup-node-and-npm
        with:
          cache-dependency-path: libraries/js/package-lock.json

      - name: Install dependencies
        working-directory: libraries/js
        run: npm i

      - name: build
        working-directory: libraries/js
        run: npm run build

      - name: Version Package
        env:
          FULL_SHA: ${{github.sha}}
        working-directory: libraries/js/dist
        shell: bash
        run: npm version --new-version "v0.0.0-${FULL_SHA:0:6}" --no-git-tag-version

        # Required for Granular Access Tokens
      - name: NPM Access Config
        run: npm config set //registry.npmjs.org/:_authToken ${{secrets.NPM_AUTH_TOKEN}}

      - name: Publish 0.0.0-<SHA:6> on NPM
        working-directory: libraries/js/dist
        run: npm publish --tag next --verbose --access public
