# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy to GitHub Pages

on:
  push:
    branches: ['main', 'chore/publish-package']
env:
  BUILD_TARGET: 'production'
jobs:
  build_site:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install

      - name: build
        env:
          BASE_PATH: '/siwf'
        run: |
          pnpm run build
      - name: structure
        run: |
          mkdir siwf
          touch siwf/.nojekyll
          mkdir siwf/example
          mkdir siwf/ui
          mv ./packages/ui/build/* ./siwf/ui
          mv ./packages/example/build/* ./siwf/example

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          # this should match the `pages` option in adapter-static options
          path: 'siwf/'

  # deploy:
  #   needs: build_site
  #   runs-on: ubuntu-latest

  #   permissions:
  #     pages: write
  #     id-token: write

  #   environment:
  #     name: github-pages
  #     url: ${{ steps.deployment.outputs.page_url }}

  #   steps:
  #     - name: Deploy
  #       id: deployment
  #       uses: actions/deploy-pages@v4

  publish-npm-rc:
    name: Publish NPM Release Candidate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --filter @amplica-labs/siwf

      - name: build
        run: pnpm run build --filter @amplica-labs/siwf

      - name: Version Package
        env:
          FULL_SHA: ${{github.sha}}
        working-directory: packages/siwf/dist
        shell: bash
        run: npm version --new-version "v0.0.0-${FULL_SHA:0:6}" --no-git-tag-version

      - name: Publish on NPM @next
        run: npm publish --tag next --access public
        working-directory: packages/siwf/dist
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
