# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy NPM Hash

on:
  push:
    branches: ["main", "chore/v2"]

jobs:
  publish-npm-rc:
    name: Publish NPM Hash
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node and npm
        uses: ./.github/workflows/common/setup-node-and-npm
        with:
          cache-dependency-path: libraries/js/package-lock.json

      - name: Install dependencies
        working-directory: libraries/js
        run: npm ci

      - name: build
        working-directory: libraries/js
        run: npm run build

      - name: Version Package
        env:
          FULL_SHA: ${{github.sha}}
        working-directory: libraries/js/dist
        shell: bash
        run: npm version --new-version "v0.0.0-${FULL_SHA:0:6}" --no-git-tag-version

        # Until we upgrade to Node 24.x across the board, we need npm >= 11.5 to publish using GitHub OAuth
      - name: Install npm 11.x
        working-directory: libraries/js/dist
        shell: bash
        run: npm i -D npm@11.7

      - name: Publish 0.0.0-<SHA:6> on NPM
        working-directory: libraries/js/dist
        run: npx npm@11.7 publish --tag next --verbose --access public
