# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release JS Library v2
run-name: Publish Release ${{github.ref_name}}
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: false
on:
  push:
    tags:
      - "v2.[0-9]+.[0-9]+" # ex. v2.0.0
      - "v2.[0-9]+.[0-9]+-rc[0-9]+" # ex. v2.1.0-rc1

permissions:
  contents: read
  id-token: write  # Required for OIDC

env:
  NEW_RELEASE_TAG: ${{github.ref_name}}
  # Version 1.0 should NEVER be latest anymore
  NPM_LATEST: ${{true != contains(fromJSON('["-rc", "v0.0.", "v1."]'), github.ref_name)}}

jobs:
  publish-npm:
    name: Publish NPM Package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node and npm
        uses: ./.github/workflows/common/setup-node-and-npm.yml
        with:
          cache-dependency-path: libraries/js/package-lock.json

      - name: Install npm version that supports OIDC auth
        run: npm install -g npm@11.5.1 # Use 'latest' or a specific version number

      - name: Install dependencies
        working-directory: libraries/js
        run: npm ci

      - name: build
        working-directory: libraries/js
        run: npm run build

      - name: Version Package
        working-directory: libraries/js/dist
        run: npm version --new-version "${{env.NEW_RELEASE_TAG}}" --no-git-tag-version

      - name: Release on NPM @latest
        if: env.NPM_LATEST == 'true'
        working-directory: libraries/js/dist
        run: npm publish --tag latest --access public

      - name: Release on NPM without @latest
        if: env.NPM_LATEST != 'true'
        working-directory: libraries/js/dist
        run: npm publish --tag next --access public
