name: Build and Test Web SDK [JS]

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-lib-sdk-web:
    strategy:
      matrix:
        node-version: [22.x]
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.53.1-noble

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node and npm
        uses: ./.github/workflows/common/setup-node-and-npm
        with:
          node-version: ${{ matrix.node-version }}
          cache-dependency-path: |
            libraries/sdk-web/package-lock.json

      - name: Install dependencies
        working-directory: libraries/sdk-web
        run: npm ci

      - name: Install Playwright Browsers
        working-directory: libraries/sdk-web
        run: npx playwright install chromium # does not need "--with-deps" because we are using the official image

      - name: Visual Test
        working-directory: libraries/sdk-web
        run: npm test

      - name: Build
        working-directory: libraries/sdk-web
        run: npm run build

      - name: Upload Report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: Tests Report
          path: |
            libraries/sdk-web/__snapshots__
            libraries/sdk-web/test-results
          retention-days: 4
